<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">	  
        <title>Contacts Batch</title>  
		<link rel="stylesheet" href="./css/bootstrap.min.css" />
		<link rel="stylesheet" href="./css/font-awesome.min.css" />
		<link rel="stylesheet" href="./css/ng-table.min.css" />
		<link rel="stylesheet" href="./css/style.css" />	
		<style>
			body { padding-top:50px; }
		</style>	
		<script type="text/javascript" src="./js/angular.min.js"></script>
		<script type="text/javascript" src="./js/angular-resource.min.js"></script>
		<script type="text/javascript" src="./js/angular-animate.js"></script>
		<script type="text/javascript" src="./js/ui-bootstrap-tpls-0.14.3.js"></script>
		<script type="text/javascript" src="./js/ng-table.min.js"></script>
		<script type="text/javascript" src="./js/lodash.min.js"></script>
		<script type="text/javascript" src="./js/sv-multiselect.js"></script>
		<script type="text/javascript" src="./js/sv-picklist.js"></script>		
		<script type="text/javascript" src="./js/contactServices.js"></script>
		<script type="text/javascript" src="./js/accountServices.js"></script>
		<script type="text/javascript" src="./js/mainC.js"></script>
	</head>
	<body>
		<div ng-app="myApp" class="container-fluid">
			<div class="row">
				<div class="col-md-8" ng-controller="contactTableController as tab1">
					<div class="brn-group pull-left">
						<button class="btn btn-default pull-left" ng-click="tab1.getContacts();$filterRow.disabled=false">
							<span class="glyphicon glyphicon-download"></span>
						</button>				
						<button class="btn btn-primary" ng-if="tab1.hasChanges()" ng-disabled="tab1.tableTracker.$invalid" ng-click="tab1.uploadContacts()">
							<span class="glyphicon glyphicon-upload"></span>
						</button>

					</div>
					<div class="brn-group pull-right"  uib-dropdown>						
						<button class="btn btn-danger btn-default" ng-click="tab1.deleteRows()">
							<span class="glyphicon glyphicon-trash"></span>
						</button>

						<button class="btn btn-default" ng-if="tab1.isEditing" ng-click="tab1.cancelChanges()">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<button class="btn btn-primary" ng-if="!tab1.isEditing" ng-click="tab1.isEditing = true; tab1.selectAllRows();">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
						<button class="btn btn-default" ng-click="tab1.add()">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
						<sv-multiselect info="tab1.cols" ></sv-multiselect>						
					</div>						
					
					<table ng-table-dynamic="tab1.tableParams with tab1.cols" class="table table-bordered table-condensed table-hover editable-table" ng-form="tab1.tableForm" disable-filter="tab1.isAdding" tracked-table="tab1.tableTracker" >
						<tr ng-repeat="row in $data" ng-form="rowForm" tracked-table-row="row">
							<td ng-repeat="col in $columns" ng-class="rowForm[col.field].$dirty ? 'bg-warning' : ''" ng-form="{{col.field}}" tracked-table-cell ng-style="{ width: col.width }">
								<span ng-if="col.dataType !== 'command' && ((!row.isEditing && !row.isInsert) || col.isReadOnly)" class="editable-text" ng-dblclick="tab1.invertEdit(row)">{{row[col.field]}}</span>
								<div ng-if="col.dataType !== 'command' && (row.isEditing || row.isInsert) && !col.isReadOnly" class="controls" ng-class="rowForm[col.field].$invalid && rowForm[col.field].$dirty ? 'has-error' : ''" ng-switch="col.dataType">
									<input ng-switch-default type="text" name="{{col.field}}" ng-model="row[col.field]" class="editable-input form-control input-sm" ng-change="tab1.onCellChange(row,col.field)"/>
									<input ng-switch-when="number" type="number" name="{{col.field}}" ng-model="row[col.field]" class="editable-input form-control input-sm" ng-change="tab1.onCellChange(row,col.field)"/>
									<select ng-switch-when="pick" ng-model="row[col.field]" ng-options="acc.name as acc.name for acc in tab1.accounts" ng-change = "tab1.selectAccount(row,col.field)" class="editable-input form-control input-sm"></select>
									<sv-picklist ng-switch-when="pick2" ng-model="row[col.field]" info="tab1.accounts" row="row" val ="row[col.field]" parFieldName="col.field" tab1="tab1"/>
								</div>
								<div ng-if="col.dataType === 'command'">
									<input type="checkbox" ng-click="tab1.processEdit(row)" ng-model = "row.isEditing" />
								</div>					
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
